#board-generation {
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	width: 310px;
	height: 514px;
	
	border: 2px solid #000;
	
}

#board {
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.area {
	
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto;
	
	width: 288px;
	height: 156px;
	
	border: 1px solid #000;
	
	margin: 10px;
	
}

.area .cell{
	
	width: 30px;
	height: 50px;
	
	border: 1px solid #000;
	
}

.unticked {
	
	text-align: center;
	line-height: 50px;
	font-size: 23px;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
	
	cursor: cell;
	user-select: none;
	
}

.ticked {
	
	transform: translate(-2px,8px);
	
	width: 30px;
	height: 30px;
	
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 0 1px #cfc68f;
	
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #000;	
	
	background: #f2e9ac;
	box-shadow: 0 4px #cfc68f;
	cursor: cell;
	user-select: none;
	
}